@model ItemBank
@{
    ViewData["Title"] = Model.Name;
}

<style>
    .caret span {
        display: inline-block;
        cursor: pointer;
        user-select: none;
    }

    .caret span {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transition: .3s transform ease-in-out;
    }

    .caret.collapsed span {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transition: .3s transform ease-in-out;
    }
</style>

<div class="container text-center">
    <h1 class="display-4 my-4">Items for <span dir="@(Model.Language.IsRightToLeft?"rtl":"ltr")">@Model.Name</span>:</h1>
    @if (Model.Categories?.Any() ?? false)
    {
        <div class="row">
            <div class="col-4">
                @{void RenderTreeLevel(ICollection<Category> categories, bool isRoot, int seed)
                    {
                        <div class="accordion text-left list-group ml-4" id="accordion_@seed">
                            @foreach (var category in categories.Where(x => x.ParentCategory == null || !isRoot))
                            {
                                @if ((category.SubCategories?.Any() ?? false) || (category.Items?.Any() ?? false))
                                {
                                    <div class="list-group-item list-group-item-action border-0 rounded-lg caret collapsed" data-toggle="collapse" data-target="#collapse_@category.Id" aria-expanded="true" aria-controls="collapse_@category.Id">
                                        <span class="mr-1">&#9660;</span>
                                        @category.Name
                                    </div>
                                    <div id="collapse_@category.Id" class="collapse" data-parent="#accordion_@seed">
                                        @if (category.SubCategories?.Any() ?? false)
                                        {
                                            RenderTreeLevel(category.SubCategories, false, category.Id);
                                        }
                                        @if (category.Items?.Any() ?? false)
                                        {
                                            <div class="list-group ml-4" id="list-tab_@category.Id" role="tablist">
                                                @foreach (var item in category.Items)
                                                {
                                                    <a class="list-group-item list-group-item-action bank-item rounded-lg border-0 ml-4" id="list-item_@item.Id-list" data-toggle="list" href="#list-item_@item.Id" role="tab" aria-controls="item_@item.Id">
                                                        @item.Name
                                                        <span class="ml-4" style="color:red;">&#10033;</span>
                                                    </a>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="list-group-item list-group-item-action rounded-lg border-0">
                                        <span class="mr-1">&#9655;</span>
                                        @category.Name
                                    </div>
                                }
                            }
                        </div>
                    }
                    RenderTreeLevel(Model.Categories, true, 0);
                }
            </div>
            <div class="col-1">
            </div>
            <div class="col-7 @(Model.Language.IsRightToLeft?"text-right":"text-left")" dir="@(Model.Language.IsRightToLeft?"rtl":"ltr")">
                <div class="tab-content" id="nav-tabContent">
                    @foreach (var category in Model.Categories)
                    {
                        foreach (var item in category.Items)
                        {
                            <div class="card tab-pane fade" id="list-item_@item.Id" role="tabpanel" aria-labelledby="list-item_@item.Id-list">
                                <div class="card-header">
                                    @{
                                        var current = category;
                                        var path = "";
                                        while (current != null)
                                        {
                                            path = "/" + @current.Name + path;
                                            current = current.ParentCategory;
                                        }
                                        <strong>@path</strong>
                                    }
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Content</p>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Modify</a>
                                </div>
                                <div class="card-footer text-muted">Generated content for @category.ItemBank.Language.Name language</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>No items found.</h4>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(".bank-item").on('click', function () {
            $(".bank-item").each(function () {
                $(this).removeClass("active");
            });
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
